footer.home-footer {
  display: flex;
  justify-content: space-between;
  position: sticky;
  bottom: 0;
  // background-color: var(--color-amber-50);
  box-shadow: 0 0 8px 0 #0000003e;
  .col{
    padding: 14px;
    flex-direction: column;
    width: 50%;
    &.active {
      border-top: 2px solid var(--main-color);
    }
    svg{
      &.active {
        color: var(--main-color);
      }
      color: var(--text-color);
      font-size: 20px;
    }
    p{
      &.active {
        color: var(--main-color);
      }
      font-weight: 600;
      font-size: 14px;
      color: var(--text-color);
    }
  }
}