.book-main {
  padding-bottom: 6rem;
  footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 15px;
    position: fixed;
    bottom: 0;
    background-color: #fff;
    width: 100%;
    button{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 6px;
      padding: 10px 0;
      min-width: 40%;
      border-radius: 6px;
      color: #fff;
      font-size: 14px;
      letter-spacing: 1px;
      font-weight: 500;
      margin-bottom: 1rem;
      svg{
        color: #fff;
      }
      &:last-child{
        background-color: rgb(178, 3, 3);
      }
      &:first-child{
        background-color: rgb(0, 139, 81);
      }
    }
  }
  .net-balance{
    background-color: var(--color-gray-100);
    box-shadow: 0 0 4px 0 #2525252a;
    margin: 12px;
    border-radius: 5px;
    .net {
      display: flex;
      justify-content: space-between;
      p{
        font-weight: 700;
        color: var(--dark-gray);
      }
      padding: 12px;
      border-bottom: 1px solid var(--border-color);
    }
    .in-out{
      padding: 12px;
      border-bottom: 1px solid var(--border-color);
      font-size: 14px;
      p{
        color: var(--dark-gray);
        display: flex;
        justify-content: space-between;
        span{
          font-weight: 500;
        }
      }
    }
    .view-reports {
      width: 100%;
      padding: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      font-size: 14px;
      p{
        font-weight: 400;
        color: var(--main-color);
        text-transform: uppercase;
        
      }
      svg{
        font-size: 14px;
      }
    }
  }
  .entries-line{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px;
    span {
      &:first-child, &:last-child {
        background-color: var(--border-color);
        height: 1px;
        width: 30%;
      }
      font-size: 12px;
      font-weight: 700;
      color: var(--text-color);
    }
  }
}
